@import "../../assets/css/variable.less";



.layout {
  display: flex;
  .layoutRight {
    flex: 1;

    main {
      overflow-y: auto;
      height: calc(100vh - @header-height);
      background-color: #f9f9f9;
      /* 整个滚动条 */

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }

      /* 滚动条轨道 */

      &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
      }

      /* 滚动条上的滑块 */

      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
      }

      /* 当鼠标悬停在滚动条上时，滑块的样式 */

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }
}
